#dados{ 
    background-color: purple;
    color: rgb(57,255,20);
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

#resultados{
	 background-color: orange;
    color: rgb(00,00,00);
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

#tabela-dados{
	color: yellow;
	border-collapse: colapse;
	width: 60%;
	
}	

#headone{
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	background-color: orange;
	color: blue;
	
}

td, th {
	border: 1px solid black;
	padding: 8px;
	text-align: center;

}